body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center fixed;
    background-size: cover;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.social-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.social-buttons .btn {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.facebook-btn {
    background-color: #11167a;
}

.google-btn {
    background-color: #da3627;
}

.phone-btn {
    background-color: #158d0ddc;
}

.or-text {
    text-align: center;
    margin: 20px 0;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.checkbox-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.forgot-password {
    color: #11167a;
    text-decoration: none;
}

.verification-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.resend-email {
    color: #11167a;
    text-decoration: none;
}

.login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #11167a;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.signup-prompt {
    text-align: center;
}

.signup-btn {
    color: #153670;
    text-decoration: none;
}
